
@import "./theme.scss"; 
@mixin message-box($wrapHeight: 268px, $width: 340px) {
    .message-box-wrap{
        height: $wrapHeight;
        background-color: $boxBg;
        opacity: 1;
        width: $width + 10px;
    
        .title{
            position: absolute;
            left: 0;
            top: 0;
            width: 0px;
            height: 40px;
            background-color: $boxTitle;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: $width;
            opacity: 1;
    
            .text{
                margin-left: 15px;
                font-size: $titleFontSize;
                display: flex;
                overflow: hidden;
                height: 40px;
                width: 130px;
                line-height: 40px;
                &::before{
                    content: '';
                    display: block;
                    width: 3px;
                    height: 16px;
                    margin-top: 12px;
                    background-color: #FFBB33;
                    margin-right: 5px;
                }
            }
            .tab{
                position: absolute;
                right: 0;
                margin-right: 15px;
                height: 40px;
                overflow: hidden;
                line-height: 40px;
                span{
                    font-size: 12px;
                    line-height: 16px;
                    color: $tagColor;
                    background-color: $tagBg;
                    margin-left: 3px;
                    padding: 1px 5px;
                    cursor: pointer;
    
                    &.active{
                        background-color: $tagBgActive;
                        color: $tagColorActive;
                    }
                }
            }
            .el-icon-close{
                margin-right: 5px;
                cursor: pointer;
            }
            .el-icon-arrow-right{
                margin-right: 10px;
                cursor: pointer;
            }
            .el-icon-arrow-left{
                margin-right: 10px;
                cursor: pointer;
            }

        }
    
        .content{
            position: absolute;
            left: 0;
            top: 50px;
            width: $width;
            height: $wrapHeight - 60px;
            box-sizing: border-box;
            background-color: $boxContent;
        }
    }
}

